div {
  margin: 0 auto;
  padding: 0;
}

#colorpickerHolder {
  height: 176px;
  width: 356px;
}

#matrix {
  border: 1px solid red;
  margin: 0 auto;
  padding: 5px;
}

#matrix tr, td {
  padding: 5px;
}

#matrix button {
  height: 80px;
  width: 150px;
  border: none;
  font-family: helvetica;
  font-weight: bold;
}

#b1, #b3 {
  background-color: rgba(255, 153, 51, 0.5);
}

#b1:hover, #b3:hover {
  background-color: rgb(255, 153, 51);
}

#b2 {
  background-color: rgba(15, 138, 15, 0.5);
}

#b2:hover {
  background-color: rgb(15, 138, 15);
}


#b4 {
  background-color: rgba(189, 15, 15, 0.6);
}

#b4:hover {
  background-color: rgb(189, 15, 15);
}
