 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bar server</title>
    <link rel="stylesheet" media="screen" type="text/css" href="localhost:5000/css/main.css" />
  </head>
  <body>
  	<div>
	  <table id="matrix">
	    <tr>
	      <td>
	        <button id="b1">Lol</button>
	       </td>
	      <td><button id="b2">Asd</button></td>
	    </tr>
	  
	    <tr>
	      <td><button id="b3">Biets</button></td>
	      <td><button id="b4">Rip</button></td>
	    </tr>
	  </table>
	</div>
  </body>
</html>
